@font-face {
    font-family: 'title';
    src: url('../fonts/rubriker/ForsvarsmaktenSans-Stencil.eot');
    src: url('../fonts/rubriker/ForsvarsmaktenSans-Stencil.ttf');
    src: url('../fonts/rubriker/ForsvarsmaktenSans-Stencil.woff');
    src: url('../fonts/rubriker/ForsvarsmaktenSans-Stencil.woff2');
}

@font-face {
    font-family: 'brödtext';
    src: url('../fonts/p/ForsvarsmaktenSans-Regular.eot');
    src: url('../fonts/p/ForsvarsmaktenSans-Regular.ttf');
    src: url('../fonts/p/ForsvarsmaktenSans-Regular.woff');
    src: url('../fonts/p/ForsvarsmaktenSans-Regular.woff2');
}

body{
    margin: 0;
    background-size: cover;
    background-image: url("../img/Backgrounds/background2.jpg") ;
    font-family: 'title';
}

a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#container1{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 15% 10% 20% 1fr;
    grid-template-areas: 
    'h1 h1'
    'nv nv'
    'ig sc1'
    'ig sc2'
    ;
   /* background-color: green;*/
}

.h1{
    grid-area: h1;
    display: flex;
    background-color: rgb(146, 173, 93);
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

nav{
    grid-area: nv;
    display: grid;
    background-color: rgb(71, 103, 7);
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 34px;
}

.snv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#img1{
    grid-area: ig;
    border-radius: 30px 30px 30px 30px;
    background-image: url("../img/Backgrounds/My_Tho\,_Vietnam._A_Viet_Cong_base_camp_being._In_the_foreground_is_Private_First_Class_Raymond_Rumpa\,_St_Paul\,_Minnesota_-_NARA_-_530621_edit.jpg");
    background-size: cover;
    background-size: 100% ;
    background-position-y: 50%;
    margin: 15px;
}

#asd1{
    grid-area: sc1;
    background-color: rgb(124, 163, 45) ;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'ar'
    'at'
    ;

}

#asd2{
    grid-area: sc2;
    background-color: rgb(98, 147, 0);
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'ar'
    'at'
    ;
}

.asd_rubrik{
    grid-area: ar;
    font-size: 34px;
    margin: 15px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.asd_text{
    grid-area: at;
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family:'brödtext';
    margin-top: 0px;
}


#container2{
    margin: none;
    display: grid;
    font-family: 'title';
    font-size: 21pt;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 1fr;
    grid-template-areas: 
    'h1'
    'nv'
    'wr'
    ;
}

.wrapper {
    grid-area: wr;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px;
    flex-wrap: wrap;
}

.hampter{
    width: 299px;
    height: 400px;
    border-radius: 10px;
    background-color: black;
    border: 1px solid white;
    margin: 20px;
    background-color: white;
}

.hampter .pic {
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    object-fit: cover;
}

.pic img {
    height: 100%;
    width: 100%;

}

.text {
    padding: 15px;
    box-sizing: border-box;
    font-family: 'brödtext';
}

.text h2 {
    font-weight: 300;
    font-family: 'title';
    font-size: 16pt;
}
.text p{
    font-size: 13pt;
}

#container3{
    margin: none;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 1fr;
    grid-template-areas: 
    'h1'
    'nv'
    'mn'
    ;
}

#main{
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-areas: 
    'sc3 sc4';
}

#sct31{
    grid-area: sc3;
    margin: 15px;
    border-radius: 100px 100px 100px 100px;
    background-color:rgb(71, 103, 7);
}

#sct311{
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 30px;
}

#sct312{
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

#sct32{
    grid-area: sc4;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(98, 147, 0);
    display: grid;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: 
    'sc321'
    'sc322'
    'sc323';
}

#sct321{
    grid-area: sc321;
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 30px;
}

#sct322{
    grid-area: sc322;
    display: flex;
    justify-content: center;
    padding: 15px;
}

#sct323{
    grid-area: sc323;
    display: flex;
    justify-content: center;
    padding: 15px;
}


iframe{
    width: 100%;
    height: 100%;
}